/*
navbar.css
Jalen Mendonca - 301098614
2025

portfolio_jm
*/

.navbar {
    background-color: black;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem-2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: teal;
    padding-bottom: 0.5rem;
}

.desktopMenuBtn {
    background: white;
    margin: 1rem 2rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    display: inline-block;
}

.desktopMenuBtn:hover {
    background-color: teal;
}

.desktopMenuImg {
    padding: 0 3px;
    height: 20px;
    width: 30px;
    
}

.active {
    color: teal;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid teal;
}

.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}


@media screen and (max-width:600px) {
    .mobMenu{
        display: flex;
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
    }

    .desktopMenu{
        display: none;
    }

    .desktopMenuBtn{
        display: none;
    }
    
}