/*
aboutme.css
Jalen Mendonca - 301098614
2025

portfolio_jm
*/

.portrait{
    position: relative;
    display: block;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

    padding: inherit;
    margin:auto;
}

.aboutContent {
    text-align: center;
    margin: auto auto;
    height: 75vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75 rem;
    font-weight: 200;
    margin: auto;
}

.aboutName {
    color: teal;
    padding: inherit;
    margin:auto;
}

.aboutPara {
    max-width: 40rem;
    margin: 1rem;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    padding: inherit;
    margin:auto;
    }


.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}

.btn:hover {
    background-color: teal;
}

@media screen and (max-width: 600px) {
    .aboutContent{
        font-size: xx-large;
        max-width: 100vw;;
    }
    .hello{
        max-width: fit-content;
    }
    .aboutText{
        max-width: fit-content;
    }
    .aboutPara{
        max-width: 20rem;

    }
}